# App
PORT=3000
NODE_ENV=development

# Database
MONGODB_URI=mongodb://127.0.0.1:27017/executor

# Playwright project root folder
# Use an absolute path, for example:
PLAYWRIGHT_PROJECT_ROOT_FOLDER=/home/your-user/path/to/playwright-project

# Socket sync service
SOCKET_SYNC_SERVER_URL=http://localhost:3016

